// Variables
$bg-primary--color: #EB5757;
$c-primary--color: #EB5757;
$bg-gray--color: #F2F5F7;
$c-gray--color: #F2F5F7;

.nav {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    box-sizing: border-box;
    position: fixed;
    top: 0;

    .container {
        padding: 1rem 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

        .logo-title {
            margin: 0;
        }
    }
}

.content-landing {
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    background-color: #f8f9fc;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.ab-card {
    width: 50%;
    margin-top: 1.5rem;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 15px 15px;

    display: flex;
    align-items: flex-end;

    .icon {
        min-width: 30px;
        min-height: 30px;
        background-color: rgba(235, 87, 87, 0.5);
        border-radius: 5px;
        margin-right: 2rem;
        transform: translateY(-10px);

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-group {
        width: 100%;

        select {
            font-weight: bold;
            font-size: 12px !important;

            option {
                font-size: 12px;
            }
        }
    }
}

.qr {
    width: 9rem;
    position: fixed;
    bottom: 0;
    transform: translate(80px, -60px);
}

.qr-title {
    width: 5rem;
    display: none;
}

@media screen and (max-width: 490px) {
    .ab-card {
        width: 100% !important;
        position: fixed;
        bottom: 0;
    }

    .content-landing {
        justify-content: center !important;
    }

    .title {
        font-size: 2.5rem !important;
        margin: 0 30px 0 30px !important;
    }

    .nav .container {
        padding: 1.5rem 0;
    }

    .qr-title {
        display: block;
        margin-bottom: 15px;
    }

}


@media screen and (max-width: 670px) {
    .ab-card {
        width: 100% !important;
        position: fixed;
        bottom: 0;
    }

    .content-landing {
        justify-content: center !important;
    }

    .title {
        font-size: 2.5rem !important;
        margin: 0 30px 0 30px !important;
    }

    .nav .container {
        padding: 1.5rem 0;
    }

}

@media screen and (max-width: 800px) {
    .ab-card {
        width: 100%;
    }

    .content-landing {
        justify-content: center !important;
    }

    .title {
        font-size: 3.7rem;
    }

    .nav .container {
        padding: 1.5rem 0;
    }

    .qr {
        display: none;
    }

}

@media screen and (max-width: 1300px) {

    .ab-card {
        width: 40%;
    }

    .content-landing {
        justify-content: center !important;
    }

    .title {
        font-size: 5rem;
        margin-top: 1rem;
    }

    .nav .container {
        padding: 1.5rem 0;
    }

}

@media screen and (min-width: 1300px) {

    .ab-card {
        width: 30%;
    }

    .content-landing {
        justify-content: center !important;
    }

    .title {
        font-size: 7rem;
        margin-top: 1rem;
    }

    .qr {
        display: block;
    }

    .nav .container {
        padding: 1.5rem 0;
    }

    .qr {
        width: 12rem;
        position: fixed;
        bottom: 0;
        transform: translate(200px, -100px);
    }

}